

## General
alias SS="sudo service "
alias wl="vi ~/.lappy"
alias op="gnome-open ."
alias fk="gnome-terminal ."
alias wbash="vi ~/.bashrc"
alias wali="vi ~/.aliases"
alias ns=notify-send
alias cl="cat $1 |less"
alias SI="sudo apt-get install "
alias nt="clear && netstat -an | head -20"

function cd() {
	clear
	BACK=$PWD
	sh /home/mayur/developers/trying.sh  $PWD/"$*"
        builtin cd "$*" && ls
}
function ll() {
	clear
        ls -al "$*"
	#this is not working pls check
}
function fkl(){
	fk
	exit
}
function ref(){
	clear
	source ~/.bashrc
}
function wall() {
	
	trap "echo exitting.." SIGTERM SIGINT SIGHUP
	if [ $(id -u)  != "1000" ];then
		echo "Sry Dude"
	else
		wall "$*"
	fi
}

export PATH=$PATH:$AWS_CLOUDWATCH_HOME/bin
export AWS_CREDENTIAL_FILE=$AWS_CLOUDWATCH_HOME/bin/cred
source ~/.lappy
